header {
  background-color: rgb(225, 234, 234);
  height: 50vh;
  text-align: center;
  padding-top: 2rem;
}

.btn,
.form-control {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
